*{
    text-align: center;
    background-color: #000;
}
h1, h2{
    font-size: 1.5rem;
    color: White;
    margin: 0px;
    font-weight: 400;
    font-style: italic;
}

.game_desc{
    width: 35rem;
    margin: auto;
}
p, li, strong{
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.3;
}
.mb-2{
    margin-bottom: 2rem;
}
.buttons > button{
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 1.5rem;
    margin-top: 1rem;
    font-weight: 300;
    outline: none;
    color: white;
    cursor: pointer;
}
#start{
    background-color: green;
}
#restart{
    background-color: blue
}

#stop{
    background-color: red;
}
#reset{
    background-color: white;
    color: #000;
}